header.header
  .header__wrap.container
    a.header__logo-link(href='index.html')|iOld
    
    nav.header__nav
      ul
        li
          a(data-text="Home" href="#")|Home
        li
          a(data-text="About" href="#")|About
        li
          a(data-text="Skills" href="#")|Skills
        li
          a(data-text="Works" href="#")|Works
        li
          a(data-text="Contacts" href="#")|Contacts