footer.footer
    .footer__wrap.container
        ul
            li
                a(href="#")
                    i.fab.fa-facebook-f
            li
                a(href="#")
                    i.fab.fa-git
            li
                a(href="#")
                    i.fab.fa-linkedin-in
            li
                a(href="#")
                    i.fab.fa-telegram-plane