footer.footer
    .footer__wrap.container
        ul
            li
                a(href="#")
                    i.fab.fa-facebook-f
            li
                a(href="#")
                    //- i.fab.fa-git
                    i.fab.fa-github-alt
            li
                a(href="#")
                    i.fab.fa-linkedin-in
            li
                a(href="#")
                    i.fab.fa-telegram-plane
        .footer__link-up
            i.fas.fa-arrow-alt-circle-up