<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Евгений
        //- link(rel="shortcut icon", href="./img/favicon.png", type="image/x-icon")
        link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.css")
    body.body
        .body__wrap

            include ../blocks/header/header.pug
            include ../blocks/home/home.pug
            include ../blocks/about/about.pug
            include ../blocks/skills/skills.pug
            include ../blocks/works/works.pug
            //- include ../blocks/form/form.pug
            //- include ../blocks/footer/footer.pug
    
        script(src="./js/header/header.js")
        script(src="./js/home/home.js")
        script(src="./js/main.js")