section.home.banner
    .home__wrap.container
        h1|Junior Front-end developer
        //- //- h1|Евгений Шевченко
        //- p|Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, aut labore. Ex dolorum maxime minus facilis nesciunt libero voluptate. Repudiandae harum facilis nemo accusantium reiciendis ducimus non in quasi asperiores?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint quam quis, dolore ipsum commodi corporis id ea. Dolor quasi corporis doloribus explicabo recusandae delectus temporibus officia tempore iste officiis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, est temporibus debitis repellat voluptates accusamus rem a nesciunt ducimus delectus, veniam quia 
        