header.header
  .header__wrap.container
    a.header__logo-link(href='index.html')|Евгений
    
    nav.header__nav
      .header__burger-wrap
        button.header__burger
          span.header__burger-span
      ul.header__ul
        li
          a.header__link(data-text="Цель" href="#target")|Цель
        li
          a.header__link(data-text="Образование" href="#education")|Образование
        li
          a.header__link(data-text="Навыки" href="#skills")|Навыки
        li
          a.header__link(data-text="Работы" href="#works")|Работы
        li
          a.header__link(data-text="Написать" href="#contact")|Написать