header.header
  .header__wrap.container
    a.header__logo-link(href='index.html')|iOld
    
    nav.header__nav
      .burger
      ul
        li
          a(data-text="Цель" href="#target")|Цель
        li
          a(data-text="Образование" href="#education")|Образование
        li
          a(data-text="Навыки" href="#skills")|Навыки
        li
          a(data-text="Работы" href="#works")|Работы
        li
          a(data-text="Написать" href="#contact")|Написать