section.about
    .about__wrap.container
        h4|ABOUT
        h5|Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            |Asperiores quibusdam amet voluptates itaque sit eligendi corporis voluptatem. 
            |Tempora sapiente distinctio, quaerat ea expedita eum incidunt ipsam minus officia, impedit soluta.
            