section.about(id="target")
    .about__wrap.container
        //- h4|ОБО МНЕ
        h4|ЦЕЛЬ
        h5|IT сфера мне нравится тем, что здесь нужно постоянно учиться и развиваться, если остановишься то окажешься за бортом.
            |Я долго выбирал с чего начать, что учить, что мне будет интересно и в каком направлении начать свой путь в IT. 
            |В итоге выбрал Front-end. Это очень интересная, перспективная и стремительно развивающаяся область IT индустрии.
            |Сейчас ищу работу на позицию Junior front-end developer, а также рассматривается вариант стажировки.
            