.home{
    width: 100%;
    margin: 0px 15px;

    &__wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .home__left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            min-height: 500px;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                width: 40%;
                height: 75%;
                border: 18px solid #e1e1e1;
                border-left: none;
                left: 0;
                z-index: 0;
            }

            .home__title{
                margin-left: 15px;
                z-index: 1;
                letter-spacing: 2px;
            }
            
            h1{
                font-size: 46px;
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.2;
            }
        }

        .home__right{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            min-height: 500px;
            background: #e1e1e1;
            position: relative;
            
            .home__title{
                margin-left: 15px;
                z-index: 1;
                letter-spacing: 2px;
            }

            
            p{
                font-size: 46px;
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.2;
                display: none;
            }
            
            h2{
                font-size: 32px;
                color: rgba(33, 33, 33, 0.902);
                line-height: 2.5;
                z-index: 1;
            }

            h3{
                z-index: 1;
            }

            &::before{
                content: '';
                position: absolute;
                width: 60%;
                height: 55%;
                border: 11px solid #fff;
                border-right: none;
                right: 0;
                z-index: 0;
            }
        }
    }
}

@import './homeAdapt.scss';