@media screen and (max-width: 668px) {

    .home{
        &__wrap{
            .home__left{
                min-width: 290px;
                width: -webkit-fill-available;

                &::before{
                    width: 50%;
                }

            }

            .home__right{
                min-width: 270px;
                width: -webkit-fill-available;
                &::before{
                    width: 100%;
                }
            }

        }
    }

}