section.home(id="home")
    .home__wrap.container
        .home__left
            .home__title
                h1|Евгений Шевченко
        .home__right
            .home__title
                p|Евгений Шевченко
                h2|Front-end developer
                h3|пока еще junior