section.home
    .home__wrap.container
        .home__left
            .home__title
                h1|Евгений Шевченко
                h2|Front-end developer
                h3|пока еще junior
        .home__right