@import '../../index.scss';

.Header{
    position: fixed;
    top: 0;
    width: 100%;
    // flex-wrap: wrap;

    &__wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }
}