section.works
    .works__wrap.container
        h4|My works
        .works__box
            .img-area
                .single-img
                    .img-content
                        .front.miko
                            .inner
                                //- p.city-name|Название
                                //- img(src="./img/css1.png", alt="")
                        .back.miko
                            a.inner(href="https://zheka-ded.github.io/everad-test/build/index.html" target="blank")|Ссылка и описание
                                //- p.country-name|Ссылка и описание
                                //- img(src="./img/css1.png", alt="")
            .img-area
                .single-img
                    .img-content
                        .front.weather
                            .inner
                                //- p.city-name|Название
                        .back.weather
                            a.inner(href="https://zheka-ded.github.io/firstWeather/build/index.html" target="blank")|Ссылка и описание
                                //- p.country-name|Ссылка и описание
            .img-area
                .single-img
                    .img-content
                        .front.petproject
                            .inner
                                //- p.city-name|Название
                        .back.petproject
                            a.inner(href="https://first-4c331.firebaseapp.com/" target="blank")|Ссылка и описание
                                //- p.country-name|Ссылка и описание
            .img-area
                .single-img
                    .img-content
                        .front.sh
                            .inner
                                //- p.city-name|Название
                        .back.sh
                            a.inner(href="https://zheka-ded.github.io/sh/build/" target="blank")|Ссылка и описание
                                //- p.country-name|Ссылка и описание