section.works
    .works__wrap.container
        h4|MY WORKS
        .works__box
            .img-area
                .single-img
                    .img-content
                        .front.miko
                            p.inner|Лендинг тестовое
                        .back
                            a.inner(href="https://zheka-ded.github.io/everad-test/build/index.html" target="blank")|Тестовое задание на позицию 
                                                                                                                        br
                                                                                                                        |junior html coder

            .img-area
                .single-img
                    .img-content
                        .front.weather
                            p.inner|Погода
                        .back
                            a.inner(href="https://zheka-ded.github.io/firstWeather/build/index.html" target="blank")|Сайт погоды на JavaScript
                            
            .img-area
                .single-img
                    .img-content
                        .front.petproject
                            p.inner|Погода и курс валют
                        .back
                            a.inner(href="https://first-4c331.firebaseapp.com/" target="blank")|Сайт/приложение погоды и курса валют на React
                                                                                                    br
                                                                                                    |правда дизайн еще в процессе
                            
            .img-area
                .single-img
                    .img-content
                        .front.sh
                            p.inner|Лендинг фриланс
                        .back
                            a.inner(href="https://zheka-ded.github.io/sh/build/" target="blank")|Лендинг с отправкой формы
                                                                                                    br
                                                                                                    |фриланс заказ
                            
            .img-area
                .single-img
                    .img-content
                        .front.ourstory
                            p.inner|Лендинг тестовое
                        .back
                            a.inner(href="https://zheka-ded.github.io/test_task/public/" target="blank")|Первое тестовое задание на позицию
                                                                                                            br
                                                                                                            |junior html coder
                            
            .img-area
                .single-img
                    .img-content
                        .front.viterra
                            p.inner|Лендинг фриланс
                        .back
                            a.inner(href="https://zheka-ded.github.io/viterraTradeFW/build/index.html" target="blank")|Фриланс заказ верстки страниц для торговой площадки

            .img-area
                .single-img
                    .img-content
                        .front.aqualux
                            p.inner|Сортировка таблицы тестовое
                        .back
                            a.inner(href="https://zheka-ded.github.io/aquaLuxTest/" target="blank")|Тестовое задание, вывод данных в таблицу, при клике на заголовок таблицы сортировка данных по возростанию и по убыванию
                            
            .img-area
                .single-img
                    .img-content
                        .front.todoapp
                            p.inner|Список дел
                        .back
                            a.inner(href="https://my-to-do-app-548b2.web.app/" target="blank")|Приложение "список дел" с сохранением данных в localStorage написанное на
                                                                                                br
                                                                                                |React