section.skills(id="skills")
    .skills__wrap.container
        h4|МОИ НАВЫКИ
        .skills__box
            span(style="--i:1")
                img(src="./img/html4.png", alt="")
            span(style="--i:2")
                img(src="./img/css1.png", alt="")
            span(style="--i:3")
                img(src="./img/js1.png", alt="")
            span(style="--i:4")
                img(src="./img/sass1.png", alt="")
            span(style="--i:5")
                img(src="./img/pug1.png", alt="")
            span(style="--i:6")
                img(src="./img/npm1.png", alt="")
            span(style="--i:7")
                img(src="./img/gulp2.png", alt="")
            span(style="--i:8")
                img(src="./img/react4.png", alt="")
            span(style="--i:9")
                img(src="./img/ajax1.png", alt="")
            span(style="--i:10")
                img(src="./img/json1.png", alt="")
            span(style="--i:11")
                img(src="./img/figma1.png", alt="")
            span(style="--i:12")
                img(src="./img/photoshop2.png", alt="")
            span(style="--i:13")
                img(src="./img/git1.png", alt="")