section.contact
    .contact__wrap.container
        h4|CONTACT ME
        form.contact__box
            input.contact__input(type='text' name='user-name' placeholder="Имя")
            input.contact__input(type='number' name='user-phone' placeholder="Номер телефона (по желанию)")
            input.contact__input(type='email' name='user-email' placeholder="Почта")
            textarea.contact__textarea(name="user-message" placeholder="Сообщение" cols="30", rows="7")
            .contact__btn-wrap
                button(type="submit" name='submit-btn')|send