.contact{
    margin: 0px 15px 70px 15px;
    &__wrap{
        position: relative;
    }

    &__box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    &__input, &__textarea{
        outline: none;
        border-bottom: 2px solid #000;
        width: 250px;
        margin-top: 20px;

        &:focus{
            border-color: #78909c;
        }
    }

    &__input{
        height: 40px;
        position: relative;
    }

    &__textarea{
        width: 100%;
        flex-grow: 1;
    }

    &__btn-wrap{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.send-box{
    position: absolute;
    width: 90%;
    background-color: rgb(0, 0, 0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    
    line-height: 1.5;
    padding: 15px 0px;
}

@import './adaptContact.scss';